<div class="modal fade" id="adminAjaxModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-admin-modal-title></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-admin-modal-body>
                <div class="text-muted">Loading...</div>
            </div>
        </div>
    </div>
</div>
